.header
{
    background: lightgreen;
    padding: 12px;
    display: flex;
    justify-content: space-between;
}

.header__title
{
    margin: 0;
    padding: 0;
    color: #000;
    font-size: 24px;
}

.header__link
{
    text-decoration: none;
}

.header__link--active
{
    color: #fff;
    border-bottom: 2px solid #fff;
}
